.vz-wrapper {
  position: relative;
  height: 10vh;
  width: 1%;
  margin-left: -115px;
 
  cursor: pointer;
}

.vz-wrapper.-canvas {
  position: absolute;
  transform: translate(-50%, -50%);
  height: initial;
  width: initial;
  background: transparent;
  box-shadow: none;
}

@media screen and (min-width: 420px) {
}
